services:
  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile.multistage
    networks:
      - mynet
    deploy:
      mode: replicated
      replicas: 3
      restart_policy:
        condition: on-failure

  worker-node:
    build:
      context: .
      dockerfile: worker-node/Dockerfile.multistage
    networks:
      - mynet
    deploy:
      mode: replicated
      replicas: 3
      restart_policy:
        condition: on-failure

  registry:
    build:
      context: .
      dockerfile: registry/Dockerfile.multistage
    container_name: registry
    hostname: registry
    networks:
      - mynet
    deploy:
      restart_policy:
        condition: on-failure

  loadbalancer:
    image: nginx:alpine
    container_name: loadbalancer
    hostname: loadbalancer
    volumes:
      - ./loadbalancer/nginx.dc.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:80
    networks:
      - mynet

  grafana:
    image: grafana/grafana:12.3.3
    container_name: grafana
    hostname: grafana
    env_file:
      - ./grafana-admin.env
    ports:
      - 3000:3000
    networks:
      - mynet
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/provisioning/datasources-dc:/etc/grafana/provisioning/datasources:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards

  prometheus:
    image: prom/prometheus:v3.9.1
    container_name: prometheus
    hostname: prometheus
    ports:
      - 9090:9090
    networks:
      - mynet
    volumes:
      - ./prometheus/prometheus.dc.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
  
  node-exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node-exporter
    hostname: node-exporter
    ports:
      - 9100:9100
    networks:
      - mynet

  docker-exporter:
    image: ghcr.io/davidborzek/docker-exporter:v0.3.0
    container_name: docker-exporter
    hostname: docker-exporter
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 8282:8080
    networks:
      - mynet

networks:
  mynet:
    driver: bridge

volumes:
  grafana-data:
    driver: local
  prometheus-data:
    driver: local