services:
  gateway:
    depends_on:
      - worker-node
    build:
      context: .
      dockerfile: gateway/Dockerfile.multistage
    container_name: gateway
    hostname: gateway
    ports:
      - 8080:8080
    networks:
      - mynet
    deploy:
      restart_policy:
        condition: on-failure

  worker-node:
    build:
      context: .
      dockerfile: worker-node/Dockerfile.multistage
    networks:
      - mynet
    deploy:
      restart_policy:
        condition: on-failure

networks:
  mynet:
    driver: bridge