services:
  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile.multistage
    networks:
      - mynet
    deploy:
      mode: replicated
      replicas: 3
      restart_policy:
        condition: on-failure

  worker-node:
    build:
      context: .
      dockerfile: worker-node/Dockerfile.multistage
    networks:
      - mynet
    deploy:
      mode: replicated
      replicas: 3
      restart_policy:
        condition: on-failure

  registry:
    build:
      context: .
      dockerfile: registry/Dockerfile.multistage
    container_name: registry
    hostname: registry
    networks:
      - mynet
    deploy:
      restart_policy:
        condition: on-failure

  loadbalancer:
    image: nginx:alpine
    container_name: loadbalancer
    hostname: loadbalancer
    volumes:
      - ./loadbalancer/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:80
    networks:
      - mynet

networks:
  mynet:
    driver: bridge