# base wrapper
# default:  kubectl apply -k .
# minikube: kubectl apply -k overlays/minikube
# prod:     kubectl apply -k overlays/prod
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - k8s
