global:
  resolve_timeout: 5m

route:
  receiver: default
  group_by:
    - alertname
    - job
    - namespace
    - pod
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
  - name: default

inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity="warning"
    equal:
      - alertname
      - job
      - namespace
      - pod