apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: geostreamdb

resources:
  - namespace.yaml
  - rbac-prometheus.yaml
  - deployment-registry.yaml
  - deployment-gateway.yaml
  - hpa-gateway.yaml
  - pdb-gateway.yaml
  - deployment-worker.yaml
  - hpa-worker.yaml
  - deployment-prometheus.yaml
  - deployment-grafana.yaml
  - daemonset-node-exporter.yaml
  - service-registry.yaml
  - service-gateway.yaml
  - service-worker.yaml
  - service-prometheus.yaml
  - service-grafana.yaml
  - service-node-exporter.yaml
  - ingress-gateway.yaml
  - pvc-grafana.yaml
  - pvc-prometheus.yaml

configMapGenerator:
  - name: prometheus-config
    files:
      - prometheus.yml=../prometheus/prometheus.yml
  - name: grafana-provisioning
    files:
      - dashboards.yml=../grafana/provisioning/dashboards/dashboards.yml
      - datasource.yml=../grafana/provisioning/datasources/datasource.yml
  - name: grafana-dashboards
    files:
      - gateway-overview.json=../grafana/dashboards/gateway-overview.json
      - registry-overview.json=../grafana/dashboards/registry-overview.json
      - system-overview.json=../grafana/dashboards/system-overview.cAdvisor.json
      - worker-overview.json=../grafana/dashboards/worker-overview.json